<div class="tweet full <%= emotion %>" id="full-<%=tweet.id %>">
  <h4><em><%= tweet.created_at.toDateString() %></em></h4>
  <small><%= tweet.created_at.toTimeString().split('(')[0] %></small>

  <%- include('barChart') %>

  <hr>
  <p><%= tweet.full_text %></p>
  <a href="/">Go Back</a>
</div>