<div class="tweet full <%= tweet.dominantEmotion %>" id="full-<%=tweet.id %>">
  <div class="timestamp">
    <h4><em><%= tweet.created_at.toDateString() %></em></h4>
    <small><em><%= tweet.created_at.toLocaleTimeString() %></em></small>
  </div>

  <%- include('barCharts') %>

  <hr>
  <p><%= tweet.full_text %></p>
  <a href="/">Go Back</a>
</div>