<!DOCTYPE html>
<html lang="en">
<%- include('../../layout/head') %>
<body>
  <div class="content">
    <%- include('../../layout/header', {tweets}) %>
    <main>
      <p id="hider"><</p>
      <%- include('../../layout/aside') %>

      <%- include('../../layout/banner', {heading: `The State of the POTUS is`}) %>

      <%
      const table = {anger: 'Angry', fear: 'Fearful', joy: 'Joyful', sadness: 'Sad', surprise: 'Surprised'};
      const recentEmotion = getStrongestEmotion(tweets[0].emotion);
      %>
      <%- `<div class="${recentEmotion}" id="status"><h1><a href="/${tweets[0].id}">${table[recentEmotion]}</a></h1></div>` %>

      <%- include('../../layout/status', {tweets}) %>

      <section>
        <% tweets.forEach(tweet => { %>
          <%- include('preview', {tweet, emotion: getStrongestEmotion(tweet.emotion)}) %>
        <% }) %>
      </section>


    </main>
  </div>
  <%- include('../../layout/footer') %>
</body>
</html>