<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>
<body>
  <div class="content">
    <%- include('../layout/header') %>
    <h1>
      <%= message %>
    </h1>
    <p>
      <%= error %>
    </p>
  </div>
  <%- include('../layout/footer') %>
</body>
</html>