<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>
<body>
  <div class="content">
    <%- include('../layout/header') %>
    <main>
      <p id="hider"><</p>
      <%- include('../layout/aside') %>

      <%- include('../layout/banner', {heading: `Home - ${tweets.length} tweets and counting`}) %>

      <%
      const table = {anger: 'Angry', fear: 'Fearful', joy: 'Joyful', sadness: 'Sad', surprise: 'Surprised'};
      const recentEmotion = getStrongestEmotion(tweets[0])[0];
      %>
      <h3><%- `Based on the best information available, the current State of the POTUS is: <div class="${recentEmotion}" id="status"><a href="/${tweets[0].id}">${table[recentEmotion]}</a></div>` %></h3>

      <section>
        <% tweets.forEach(tweet => { %>
          <%- include('partials/preview', {tweet, emotion: getStrongestEmotion(tweet)[0]}) %>
        <% }) %>
      </section>


    </main>
  </div>
  <%- include('../layout/footer') %>
</body>
</html>