<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>
<body>
  <div class="content">
    <%- include('../layout/header') %>
    <main>
      <p id="hider"><</p>
      <%- include('../layout/aside') %>

      <%- include('../layout/banner', {heading: `Home Page - ${tweets.length} Tweets`}) %>

      <section>
        <% tweets.forEach(tweet => { %>
          <%- include('partials/preview', {tweet, emotion: getStrongestEmotion(tweet)[0]}) %>
        <% }) %>
      </section>


    </main>
  </div>
  <%- include('../layout/footer') %>
</body>
</html>