<!-- <div class="barChartsContainer"> -->
  <div class="pieContainer">
    <canvas id="sentimentPie"></canvas>
  </div>
  <div class="pieContainer">
    <canvas id="sentimentMultiPie"></canvas>
  </div>
  <div class="barChartContainer">
    <canvas id="sentimentBar"></canvas>
  </div>
  <div class="lineAreaContainer">
    <canvas id="sentimentLineArea"></canvas>
  </div>
  <div class="lineContainer">
    <canvas id="sentimentLine"></canvas>
  </div>
<!-- </div> -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script>
  window.onload = function () {
    // This creates normal js object to work wth
    const tweets = <%- JSON.stringify(tweets) %>;
    const sentimentColor = <%- JSON.stringify(sentimentColor) %>;

    // Pie Chart
    const positive = tweets.map(t => t.sentiment).reduce((a, p) => a + (p > 0.5 ? 1 : 0), 0);
    const negative = tweets.length - positive;

    var pieCtx = document.getElementById("sentimentPie");
    var myChart = new Chart(pieCtx, {
      type: 'pie',
      data: {
        labels: ["Positive Tweets", "Negative Tweets"],
        datasets: [{
          label: 'Positive vs. Negative',
          data: [positive, negative],
          borderColor: [
            'blue',
            'red',
          ],
          backgroundColor: [
            'rgba(0, 0, 255, 0.5)',
            'rgba(255, 0, 0, 0.5)'
          ],
          borderWidth: 2
        }]
      },
      options: {
        title: {
          display: true,
          text: 'Positive Tweets vs. Negative Tweets',
          fontSize: 16,
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });



    // Multi Pie Chart
    const veryPositive = tweets.map(t => t.sentiment).reduce((a, p) => a + (p > 0.8 ? 1 : 0), 0);
    const lessPositive = tweets.map(t => t.sentiment).reduce((a, p) => a + ((p > 0.6 && p <= 0.8) ? 1 : 0), 0);
    const neutral = tweets.map(t => t.sentiment).reduce((a, p) => a + ((p > 0.4 && p <= 0.6) ? 1 : 0), 0);
    const lessNegative = tweets.map(t => t.sentiment).reduce((a, p) => a + ((p > 0.2 && p <= 0.4) ? 1 : 0), 0);
    const veryNegative = tweets.map(t => t.sentiment).reduce((a, p) => a + ( p <= 0.2 ? 1 : 0), 0);

    var pieCtx = document.getElementById("sentimentMultiPie");
    var myChart = new Chart(pieCtx, {
      type: 'pie',
      data: {
        labels: ["Very Positive", "Less Positive", "Roughly Neutral", "Less Negative", "Very Negative"],
        datasets: [{
          label: 'Sentiment Further Divided',
          data: [veryPositive, lessPositive, neutral, lessNegative, veryNegative],
          borderColor: [
          'rgba(0, 0, 255, 1)',
          'rgba(63, 0, 191, 1)',
          'rgba(127, 0, 127, 1)',
          'rgba(191, 0, 63, 1)',
          'rgba(255, 0, 0, 1)',
          ],
          backgroundColor: [
          'rgba(0, 0, 255, .5)',
          'rgba(63, 0, 191, .5)',
          'rgba(127, 0, 127, .5)',
          'rgba(191, 0, 63, .5)',
          'rgba(255, 0, 0, .5)',
          ],
          borderWidth: 2
        }]
      },
      options: {
        title: {
          display: true,
          text: 'Sentiment Further Divided',
          fontSize: 16,
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });



    // Bar Chart categorizing sentiment
    const sentBandsLabels = <%- JSON.stringify(sentBandsLabels) %>;
    const sentBandsTotals = <%- JSON.stringify(sentBandsTotals) %>;
    const sentimentGradient = <%- JSON.stringify(sentimentBarGradient) %>;


    var barCtx = document.getElementById("sentimentBar");
    var barChart = new Chart(barCtx, {
    type: 'bar',
    data: {
        labels: sentBandsLabels,
        datasets: [{
            label: '# of Tweets',
            data: sentBandsTotals,
            backgroundColor: sentimentGradient.translucents,
            borderColor: sentimentGradient.solids,
            borderWidth: 1
        }]
    },
    options: {
      title: {
          display: true,
          text: `Total Tweets per Sentiment Subdivided in(n=0.01) Intervals`,
          fontSize: 16,
        },
        legend: {
          display: false
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});


    // Line Area Chart
    const sentLineAreaLabels = <%- JSON.stringify(sentLineAreaLabels) %>;
    const sentLineAreaTotals = <%- JSON.stringify(sentLineAreaTotals) %>;

    var lineAreaCtx = document.getElementById("sentimentLineArea").getContext("2d");
    var gradientStroke = lineAreaCtx.createLinearGradient(1000, 0, 100, 0);
    gradientStroke.addColorStop(0, 'rgba(0,0,255,.5)');
    gradientStroke.addColorStop(1, 'rgba(255,0,0,.5)');
    var sentLineArea = new Chart(lineAreaCtx, {
    type: 'line',
    data: {
        labels: sentLineAreaLabels,
        datasets: [{
            label: '# of Tweets',
            data: sentLineAreaTotals,
            borderColor:               gradientStroke,
            pointBorderColor:          gradientStroke,
            pointBackgroundColor:      gradientStroke,
            pointHoverBackgroundColor: gradientStroke,
            pointHoverBorderColor:     gradientStroke,
            borderWidth: 1,
            backgroundColor: gradientStroke,
            borderColor: gradientStroke,
            fill: true,
        }]
    },
    options: {
      title: {
          display: true,
          text: `Tweets per Sentiment Bounded at (n=0.05) Intervals`,
          fontSize: 16,
        },
        legend: {
          display: false
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
  });


    // Line Chart
    // decimate data
    function decimateData(n) {
      let sentiments = tweets.map(t => t.sentiment);
      let dates = tweets.map(t => t.created_at);
      const decimatedSentiments = [];
      const decimatedDates = [];
      while(sentiments.length) {
        const deciSent = sentiments.slice(0, n).reduce((a, s) => a + s) / sentiments.slice(0, n).length;
        decimatedSentiments.push(deciSent)
        sentiments = sentiments.slice(n);

        decimatedDates.push(dates[0]);
        dates = dates.slice(n);
      }
      return {decimatedSentiments, decimatedDates};
    }

    const decimateFactor = 50;


    var lineCtx = document.getElementById("sentimentLine").getContext("2d");
    var chart = new Chart(lineCtx, {
      // The type of chart we want to create
      type: 'line',
      // The data for our dataset
      data: {
        // labels: tweets.map(t => new Date(t.created_at)),
        labels: decimateData(decimateFactor).decimatedDates,
        datasets: [{
          label: "Sentiment",
          backgroundColor: sentimentColor[1],
          borderColor: sentimentColor[0],
          fill: false,

          // data: tweets.map(t => t.sentiment),
          data: decimateData(decimateFactor).decimatedSentiments,
          showLine: true,
          pointRadius: 4,
          borderWidth: 2
        }],
      },
      // Configuration options go here
      options: {
        legend: {
          display: false,
          labels: {
            // boxWidth: 15
          }
        },
        title: {
          display: true,
          text: `Tweet Sentiment (Decimated n=${decimateFactor}) Over Time`,
          fontSize: 16,
        },
        scales: {
          xAxes: [{
            type: 'time',
          }]
        }
      }
    });

  };

</script>